<app-game-control (intervalFired)="onGameStarted($event)"></app-game-control>

<hr>

<app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
<app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
