<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Welcome to {{ title }}!
      </h1>

      <div class="component">
        <app-game></app-game>
      </div>

      <div class="component">
        <app-details-log></app-details-log>
      </div>

      <div class="component">
        <app-user-form></app-user-form>
      </div>

      <div class="component">
        <app-server></app-server>
      </div>

      <div class="component">
        <app-success-alert></app-success-alert>
        <app-warning-alert></app-warning-alert>
      </div>
    </div>
  </div>
</div>
