<div class="details">
  <button class="btn btn-primary" (click)="toggleParagraph()">Display Details</button>

  <div class="text">
    <p *ngIf="showParagraph" [ngClass]="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, libero.</p>
  </div>

  <div class="logs">
    <table class="table table-stripped">
      <tr>
        <th width="10%">#</th>
        <th width="30%">Event</th>
        <th width="60%">Timestamp</th>
      </tr>
      <tr *ngFor="let log of logs; let id = index"
          [ngStyle]="{ background: (id < 4 ? 'transparent' : 'blue') }"
          [ngClass]="{ 'text-white': log.background }"
      >
        <td>{{ id + 1 }}</td>
        <td>{{ log.event }}</td>
        <td>{{ log.timestamp }}</td>
      </tr>
      <tr *ngIf="logs.length === 0">
        <td colspan="3" class="text-center">No data</td>
      </tr>
    </table>
  </div>
</div>
