<p>Your username is: {{ username }}</p>
<input type="text" class="form-control" [(ngModel)]="username">
<br>
<button class="btn btn-primary" [disabled]="!username" (click)="addUser()">Add user</button>

<br>
<br>

<div *ngIf="usernames.length > 0; else noUsers">
  <p>Usernames:</p>
  <ul>
    <li *ngFor="let user of usernames">{{ user }}</li>
  </ul>
</div>

<ng-template #noUsers>No users</ng-template>
