<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success" (click)="onStartGame()">Start Game</button>
    <button class="btn btn-warning" (click)="onPauseGame()">Pause Game</button>
  </div>
</div>
